<h3>FAT</h3>
<p class="dropdownbox">
    <label for="osc">Carrier Oscillator</label>
    <br/>
    <select name="osc" id="osc">
    <option value="triangle">Triangle</option>
    <option value="sine">Sine</option>
    <option value="sawtooth">Sawtooth</option>
    <option value="square">Square</option>
    </select>

<br>
    Spread = <span id="spread"></span>
    <input type="range" min="2" max="100" value="" class="childslider" name="" id="mySpread">


    Count = <span id="count"></span>
    <input type="range" min="1" max="100" value="" class="childslider" name="" id="myCount">
</p>
    
