
<ul id="piano" class="list-group">
  <li data-note="C4" class="key list-group-item">C4</li>
  <li data-note="D4" class="key list-group-item">D4</li>
  <li data-note="E4" class="key list-group-item">E4</li>
  <li data-note="F4" class="key list-group-item">F4</li>
  <li data-note="G4" class="key list-group-item">G4</li>
  <li data-note="A4" class="key list-group-item">A4</li>
  <li data-note="B4" class="key list-group-item">B4</li>
  <li data-note="C5" class="key list-group-item">C5</li>
</ul>
<select name="" id="osc">
  <option value="sine">Sine</option>
  <option value="sawtooth">Saw</option>
  <option value="triangle">Triangle</option>
  <option value="square">Square</option>
</select>
<router-outlet></router-outlet>