body {
    background-color: #5f6e87 !important;
    /* background: linear-gradient(90deg, rgba(172,172,172,1) 1%, rgba(95,110,135,1) 15%, rgba(172,172,172,1) 50%, rgba(95,110,135,1) 85%, rgba(172,172,172,1) 99%); */
    font-family: 'Tomorrow', sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;;
}
h1{
    margin-top: -10px;
    text-align: center;
}

.modifiers, .mainoscbox{
    display: inline-block;
    vertical-align: top;
}

.mainoscbox{
    height: 615px;
    padding: 10px;
    background-color: rgb(25, 25, 73);
    box-shadow:5px 8px;
}
.mainosc{
    width: 200px;
}
.modifiers{
    width: 850px;
}
.container{
    padding: 30px;
}

.dropdownbox{
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
}

.key{
    background-color: ivory;
    position: relative;
    width: 100px;
    height: 150px;
    outline: 2px solid darkgray;

}

.Bkey{
    background-color: black;
    width: 40px;
    height: 75px;
    z-index: 2;
    margin: 0 -10px 0 -10px;
    outline: 2px solid darkgray;
}

.slidecontainer {
    width: 30%;
    margin-left: 25px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(25, 25, 73);
    box-shadow: 5px 8px;
}
.slider, .childslider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.childslider{
    width: 235px;
    margin-top: 15px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb, .childslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #5e82bd;
    cursor: pointer;
}

.slider::-moz-range-thumb, .childslider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #5e82bd;
    cursor: pointer;
}
.oscbox{
    margin-top: 20px;
    margin-left: 20%;
}

#sequencer {
    width: 700px;
    position: relative;
}

.seqbtn {
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border: 1px solid lightgray;
    margin-right: 2px;
}

.active {
    background-color: lightblue;
}

.box{
    border: 3px solid #5e82bd;
    background-color: none;
    width: 40px;
    height: 40px;
    margin-bottom: 3.5px;
}
#tempo{
    position: absolute;
    margin-top: -174px;
    margin-left: -10px;
}