body {
    background-color: #5f6e87 !important;
    font-family: 'Tomorrow', sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;;
}
h1{
    margin-top: -10px;
    text-align: center;
}

.modifiers, .mainoscbox{
    display: inline-block;
    vertical-align: top;
}

.mainoscbox{
    height: 615px;
    background-color: rgb(9,9,121);
}
.mainosc{
    width: 200px;
}
.modifiers{
    width: 850px;
}
.container{
    padding: 30px;
}

.dropdownbox{
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
}

.key{
    background-color: ivory;
    position: relative;
    width: 100px;
    height: 150px;
    outline: 2px solid darkgray;

}

.Bkey{
    background-color: black;
    width: 40px;
    height: 75px;
    z-index: 2;
    margin: 0 -10px 0 -10px;
    outline: 2px solid darkgray;
}

.slidecontainer {
    width: 30%;
    margin-left: 25px;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(9,9,121);
}
.slider, .childslider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.childslider{
    width: 112%;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb, .childslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb, .childslider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
.oscbox{
    margin-top: 20px;
    margin-left: 20%;
}