<h3>FM</h3>
<p class="dropdownbox">
    <label for="osc">Carrier Oscillator</label>
    <br/>
    <select name="osc" id="osc">
    <option value="triangle">Triangle</option>
    <option value="sine">Sine</option>
    <option value="sawtooth">Sawtooth</option>
    <option value="square" selected>Square</option>
    </select>

    <br>

    <label for="osc">Modulator Oscillator</label>
    <br/>
    <select name="mod" id="mod">
    <option value="triangle">Triangle</option>
    <option value="sine">Sine</option>
    <option value="sawtooth">Sawtooth</option>
    <option value="square">Square</option>
    </select>
    
    <br>

    Modulation Index = <span id="modIdx"></span>
    <input type="range" min="0" max="200" value="" class="childslider" name="" id="myModIdx">
    
    Harmonicity= <span id="harmony"></span>
    <input type="range" min="1" max="100" value="" class="childslider" name="" id="myHarmony">
</p>    
